<!DOCTYPE html>
<html>
        <head>
                <meta charset="UTF-8">
                <title>Admin</title>
		 <link rel="stylesheet" href="css/admin.css" type="text/css">
        </head>
        <body>
		<div class="topNav">
			<div class="topLeft">
				<p><a href="/admin">Employee Recognition Portal</a></p>
			</div>
			<div class="topRight">
				<div class="userNav">
					<p>User</p>
					<div class="subNav">
						<p><a href="/admin-account">User Account</a></p>
						<p><a href="/">Logout</a></p>
					</div>
				</div>
			</div>
		</div>
		<div class="leftNav">
			<p><a href="/admin-usermanagement">User Management</a></p>
			<p><a href="/admin-reports">Reporting</a></p>
		</div>
		<div class="bodyMain">
                	{{{body}}}
		</div>
        </body>
</html>

