<!DOCTYPE html>
<html>
        <head>
                <meta charset="UTF-8">
                <title>Admin {{metaTags.title}}</title>
		<link rel="stylesheet" href="css/admin.css" type="text/css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        </head>
        <body>
		<div class="topNav">
			<div class="logo">
				<p><a href="/admin">Employee Recognition Portal</a></p>
			</div>
			<div class="navBar">
				<div class="dropDown">
					<a href="#" class="drop"><i class="fas fa-user-circle"></i></a>
					<div class="subNav">
						<p><a href="/admin-account">Account</a></p>
						<p><a href="/">Logout</a></p>
					</div>
				</div>
			</div>
		</div>
		<div class="leftNav">
			<p><a href="/admin-usermanagement">User Management</a></p>
			<p><a href="/admin-reports">Reporting</a></p>
		</div>
		<div class="bodyMain">
                	{{{body}}}
		</div>
        </body>
</html>

