<!DOCTYPE html>
<html>
        <head>
                <meta charset="UTF-8">
                <title>ERP Login</title>
		<link rel="stylesheet" href="css/login.css" type="text/css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        </head>
        <body>
		<header>
			<h1>Employee Recognition Portal</h1>
		</header>
                {{{body}}}
	</body>
</html>

