<!DOCTYPE html>
<html>
        <head>
                <meta charset="UTF-8">
                <title>ERP Login</title>
		<link rel="stylesheet" href="css/login.css" type="text/css">
        </head>
        <body>
		<header>
			<h1>Employee Recognition Portal</h1>
		</header>
                {{{body}}}
		<footer>
			<p>@Copyright ERP</p>
		</footer>
	</body>
</html>

