<!DOCTYPE html>
<html>
        <head>
                <meta charset="UTF-8">
                <title>ERP Login</title>
		<link rel="stylesheet" href="css/login.css" type="text/css">
        </head>
        <body>
                {{{body}}}
        </body>
</html>

