<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>User</title>
		<link rel="stylesheet" href="css/user.css" type="text/css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	</head>
	<body>
		<div class="topNav">
			<div class="logo">
				<p><a href="/home">Employee Recognition Portal</a></p>
			</div>
			<div class="navBar">
				<a href="/create-awards">Create Awards</a>
				<a href="/history">History</a>
				<div class="dropDown">
					<a class="drop" href="#"><i class="fas fa-user-circle"></i></a>
					<div class="subNav">
						<p><a href="/account">Account</a></p>
						<p><a href="/">Logout</a></p>
					</div>
				</div>
				
			</div>
		</div>
		{{{body}}}
	</body>
</html>

