<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>User</title>
		<link rel="stylesheet" href="css/user.css" type="text/css">
	</head>
	<body>
		<div class="topNav">
			<div class="logo">
				<p><a href="/home">Employee Recognition Portal</a></p>
			</div>
			<div class="navBar">
				<a href="/create-awards">Create Awards</a>
				<a href="/history">History</a>
				<div class="dropDown">
					<a class="drop" href="#">User</a>
					<div class="subNav">
						<p><a href="/account">Account</a></p>
						<p><a href="/">Logout</a></p>
					</div>
				</div>
				
			</div>
		</div>
		{{{body}}}
	</body>
</html>

