<div class="body-container">
	<h1 class="pageTitle">User Management</h1>
	<div class="users">
		<div class="actionBar">
			<div class="searchBar side">
				<p><i class="fas fa-search"></i><input type="text" id="myInput" onkeyup="search()" placeholder="Search for a user..." title="User Search Bar"></p>
			</div>
			<div class="actions side">
				<p style="text-align:right;"><a class="umButton" href="/add-user">Remove</a><a class="umButton" href="/add-user">Edit</a><a class="umButton" href="/add-user">Add User</a></p>
			</div>
		</div>
		{{#if results}}
			<table id="userTable">
				<tbody id="tableBody">
					<tr id="tableHead">
						<th>Name <i class="sort fas fa-sort"></i></th>
						<th>User Type <i class="sort fas fa-sort"></i></th>
						<th>Email/Username <i class="sort fas fa-sort"></i></th>
					</tr>
					{{#each results}}
					<tr>
						<td>{{this.Name}}</td>
						<td>{{this.Type}}</td>
						<td>{{this.Username}}</td>
					</tr>
					{{/each}}
				</tbody>
			</table>
		{{/if}}
	</div>
</div>
