<link rel="stylesheet" type="text/css" href="/css/account.css">
<h1 class="title">Admin Profile</h1>
<div class="accountInfo">
	<p><strong class="heading">Name:</strong> </p>
	<p><strong class="heading">Email Address:</strong> </p>
	<p><strong class="heading">Last Updated:</strong> </p>
	<p><strong class="heading">Account Creation Date:</strong> </p>
	<p style="text-align: center;">
		<button id="updateInfo" class="accountButton">Update Information</button>
		<button id="changePass" class="accountButton">Change Password</button>
	</p>
</div>

