<div class="body-container">
	<h1 class="pageTitle">User Management</h1>
	<div class="users">
		<div class="actionBar">
			<div class="searchBar side">
				<p><i class="fas fa-search"></i><input type="text" id="myInput" onkeyup="search()" placeholder="Search for a user..." title="User Search Bar"></p>
			</div>
			<div class="actions side">
				<p style="text-align:right;"><a class="umButton inactive" href="#">Remove</a><a class="umButton inactive" href="#">Edit</a><a class="umButton" href="/add-user">Add User</a></p>
			</div>
		</div>
		
			<table id="userTable">
				<tbody id="tableBody">
					<tr id="tableHead">
						<td class="checkBox">
							<div class="checkMark"><i class="fas fa-check checkoff"></i></div>
						</td>
						<th>Name <i class="sort fas fa-sort"></i></th>
						<th>User Type <i class="sort fas fa-sort"></i></th>
						<th>Email/Username <i class="sort fas fa-sort"></i></th>
					</tr>
					
					<tr class = "row">
						<td class="checkBox">
							<div class="checkMark"><i class="fas fa-check checkoff"></i></div>
						</td>
						<td>is</td>
						<td>ype</td>
						<td>User</td>
					</tr>
					<tr class = "row">
                                                <td class="checkBox">
                                                        <div class="checkMark"><i class="fas fa-check checkoff"></i></div>
                                                </td>
                                                <td>this</td>
                                                <td>Type</td>
                                                <td>Username</td>
                                        </tr>
					<tr class = "row">
                                                <td class="checkBox">
                                                        <div class="checkMark"><i class="fas fa-check checkoff"></i></div>
                                                </td>
                                                <td>gis</td>
                                                <td>dype</td>
                                                <td>Usert</td>
                                        </tr>
					
				</tbody>
			</table>
		
	</div>
</div>
