<div class="signInForm">
	<form>
		<fieldset>
			<h2>Login</h2>
			<p>Username: <input id="user" name="userName" type="email" placeholder="email@email.com" autocomplete="on" required></p>
			<p>Password: <input id="password" name="password" type="password" placeholder="******" required></p>
			<p><input id="login" type="submit" value="Login"></p>
			<p><a href="/reset-password">Forgot Password?</a></p>
		</fieldset>
	</form>
</div>

