<p>Please enter in your username to send a password reset email to.</p>
<form>
	<fieldset>
		<p><input id="username" type="email" placeholder="email@email.com" autocomplete="on" required></p>
		<p><input id="reset" type="submit" value="Reset Password"></p>
	</fieldset>
</form>
