html {
	height: 100%;
}

body {
	margin: 0;
}

.leftNav {
	position: fixed;
	left: 0;
	top: 50px;
	height: 100%;
	width: 150px;
	background: black;
}

.leftNav a{
	color: white;
	text-decoration: none;
}

.topNav {
	width: 100%;
	background: black;
	height: 50px;
}

.logo {
	width: 20%;
	display: inline-block;
}

.navBar {
	width: 79%;
	display: inline-block;
	text-align: right;
}

.subNav {
	display: none;
	position: absolute;
	z-index: 1;
	text-align: left;
	background: black;
}

.dropDown {
	display: inline-block;
}

.dropDown:hover .subNav {
	display: block;
}

.bodyMain {
	margin-left: 160px;
}

.fa-user-circle {
	font-size: 2em;
	color: white;
}
