html {
	height: 100%;
}

body {
	margin: 0;
}

/* Left Navigation with fly outs */
.leftNav {
	position: fixed;
	left: 0;
	height: 100%;
	width: 50px;
	text-align: center;
	background-color: #2e2e2e;
}

.leftNav a{
	color: #999999;
	font-size: 1.5em;
	text-decoration: none;
	padding: 10px;
}

.leftNav a:hover {
	color: #fff;
	background-color: #415266;
}

.leftNav ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.leftNav ul li:hover {
	position: relative;
}

.leftNav ul li a, .leftNav ul li ul li a{
	display: inline-block;
}

.leftNav .subLeftNav {
	position: absolute;
	display: none;
	background-color: #20262e;
	width: 200px;
	box-shadow: 2px 5px 8px 0px grey;
}

.leftNav .subLeftNav .navPrime {
	background-color: #03A9F4;
}

.leftNav .subLeftNav li:hover {
	background-color: #415266;
}

.leftNav .subLeftNav .navPrime a {
	color: #fff;
}

.leftNav .subLeftNav a {
	padding: 10px;
}

.leftNav ul li:hover ul {
	top: 0px;
	left: 50px;
	display: block;
}

/* Top Navigation */
#topNav {
	width: 100%;
	background-color: #2e2e2e;
}

/* Clear the container */
#topNav::after {
	content: "";
	display: table;
	clear: both;
}

#logo {
	display: block;
	float: left;
	margin-left: 50px;
}

#logo a {
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
}

/* Remove list styling */
#menu ul {
	float: none;
	text-align: center;
	padding: 0;
	margin: 0;
	list-style: none;
	position: relative;
}

/* Display nav items inline */
#menu ul li {
	margin: 0;
	display: inline-block;
}

/* Hide subNav */
#menu ul ul.subNav {
	display: none;
	position: absolute;
	top: 59px;
	right: 0;
	left: auto;
	background-color: #2e2e2e;
	box-shadow: 2px 5px 8px 0px grey;
}

#menu ul li:hover > .subNav {
	display: block;
}

#menu a {
	display: block;
	text-decoration: none;
	font-size: 1.5em;
	padding: 21px 10px;
}

#menu ul ul.subNav li {
	display: list-item;
	float: none;
	position: relative;
}

#menu ul li#user a {
	padding: 15px;
	color: #999999;
	font-size: 1.5em;
}

#menu ul li#user a:hover {
	color: #fff;
}

#menu ul li#user .subNav li a {
	padding: 10px;
}

#menu ul li#user .subNav li a:hover {
	color: #fff;
	background-color: #415266;
}

#menu ul li#user {
	float: right;
	margin-right: 25px;
	margin-top: 2px; 
}

.bodyMain {
	margin-left: 50px;
}

.body-container {
	width: 90%;
	margin: 0 auto;
}

.pageTitle {
	text-align: center;
}

/*User Management Page CSS */
.users {
	background-color: #eee;
	border-radius: 1px;
	box-shadow: 2px 5px 8px 0px grey;
}

.umButton {
	padding: 10px;
	margin: 5px;
	color: #fff;
	text-decoration: none;
	background-color: #03A9F4;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
}

.umButton:hover {
	background-color: #415266;
}

.umButton.inactive {
	background-color: darkgray;
	cursor: default;
}

.actionBar {
	width: 95%;
	margin: 0 auto;
}

.side {
	display: inline-block;
	width: 48%;
	padding: 5px;
}

.actionBar .searchBar {
	color: #2e2e2e;
}

#myInput {
	border: none;
	border-bottom: 1px solid #999999;
	margin-left: 10px;
	width: 300px;
	background-color: transparent;
}

#myInput:focus {
	outline: none;
}

#userTable {
	width: 100%;
}

#userTable .row:hover {
	background-color: #dcdcdc;
	transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
}

#tableHead {
	color: #fff;
	background-color: #20262e;
	text-align: left;
}

#tableHead th {
	padding: 5px;
}

.checkBox {
	width: 50px;
}

.checkBox .checkMark {
	height: 16px;
	width: 16px;
	background-color: white;
	border-radius: 5px;
	transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	border: 2px solid #FFFFFF;
	margin: 0 auto;
}

.checkoff {
	display: none !important;
}

.checkon {
	display: block !important;
	color: black;
}

#lightBox {
	display: block;
	height: 100%;
	width: 100%;
	z-index: 200;
	background-color: #2f2f2fd1;
	position: fixed;
	top: 0;
	left: 0;
	transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
}

#lightBox.hidden {
	 display: none;
}

#lightBox-Inner {
	position: relative;
	background-color: #fff;
	width: 50%;
	top: 50%;
	margin: 0 auto;
	padding: 15px;
	box-shadow: 2px 5px 8px 0px grey;
}

#lightBox-Inner p {
	text-align: center;
}

#lightNox-Inner .lightBox-Button {
	margin: 5px 20px;
}

#close {
	position: absolute;
	top: 0;
	right: 0;
	padding: 15px;
	color: white;
	font-size: 1.2em;
	cursor: pointer;
}

#createUserForm {
	margin: 0 auto;
	width: 70%;
}

#createUserForm .button{
	text-align: center;
}

#createUserForm .fields {
	display: inline-block;
	width: 48%;
	text-align: center;
}

#createUserForm fieldset {
	padding: 25px;
}

