.signInForm {
	width: 300px;
	text-align: center;
	margin: 0 auto;
}

html {
	height: 100%;
}

body {
	height: 95%;
	margin: 0;
}

footer p, header h1 {
	text-align: center;
}

footer p {
	background-color: #1d1d1d;
	color: white;
	margin: 0;
	padding-top: 5px;
}

header {
	height: 15%;
}

.body-container {
	height: 80%;
	margin: 0 10%;
}

footer {
	height: 6%;
	background-color: #1d1d1d;
}
