html {
	height: 100%;
}

body {
	margin: 0;
}

.topNav {
	width: 100%;
	background: black;
	overflow: hidden;
}

.logo {
	width: 20%;
	display: inline-block;
	overflow: hidden;
}

.navBar {
	width: 79%;
        display: inline-block;
	text-align: right;
	overflow: hidden;
}

.navBar p {
	display: inline-block;
}

.subNav {
	display: none;
	position:absolute;
	z-index: 1;
	text-align: left;
}

.dropDown {
	display: inline-block;
	overflow: hidden;
	padding: 10px;
	vertical-align: bottom;
}

.dropDown:hover .subNav {
	display: block;
}

.subNav p {
	display: block;
}

.fa-user-circle {
	font-size: 2em;
	color: white;
}

