<link rel="stylesheet" type="text/css" href="/css/account.css">
<h1 class="title">Admin Profile</h1>
<div class="accountInfo">
	<form id="accountForm" method="post">
		<fieldset>
		<p><strong class="heading">Name:</strong> <span class="currentInfo">{{user.name}}</span></p>
		<p><strong class="heading">Email Address:</strong> <span class="currentInfo">{{user.email}}</span></p>
		<p><strong class="heading">Account Creation Date:</strong> {{user.created_on}}</p>
		<p style="display:none; text-align: center;"><input class="submit" id="update" type="submit" name="{{user.id}}" value="Update"></p>
		</fieldset>
	</form>
	<p style="text-align: center;">
		<button id="updateInfo" class="accountButton">Update Information</button>
		<a id="changePass" class="accountButton" href="/admin-change-password">Change Password</a>
	</p>
</div>
<script type="text/javascript" src="/js/adminAccount.js"></script>
