<link rel="stylesheet" href="css/createForm.css" type="text/css">
<div id="createUserForm" class="createForm">
	<form id="cUser">
		<fieldset>
			<h1 class="title">Create a User</h1>
			<p class="fields"><input id="userName" name="userName" type="email" placeholder="Username" autocomplete="on" required></p>
			<p class="fields"><input id="password" name="password" type="password" placeholder="Password" required></p>
			<p class="fields"><input id="name" name="name" type="text" placeholder="Full Name" autocomplete="on" required></p>
			<p class="fields"><input id="department" name="department" type="type" placeholder="Department" autocomplete="on" required></p>
			<p class="fields"><input id="region" name="region" type="type" placeholder="Region" autocomplete="on" required></p>
			<p class="fields">
				<select name="userType" required>
					<option value="">User Type</option>
					<option value="user">User</option>
					<option value="admin">Admin</option>
				</select>
			</p>
			<p class="button"><input class="submit" id="createUser" type="submit" value="Create User"></p>
		</fieldset>
	</form>
</div>
<script type="text/javascript" src="js/adminCreateUserForm.js"></script>
