<html>
<head>
<title>Admin Help</title>
<link rel="stylesheet" type="text/css" href="css/adminHelp.css">
</head>
<body>

<div id = "helpbody">
    
    <br>
    <h1 id="helpheader" >Admin Help/FAQ</h1>

    <br>
    <input id ="searchQuery" type="text" placeholder="Search by Key Word">
    <button id="searchButton" >Search</button>
    <button id="reset" >Clear</button>
    <br> <br>

    <p class ="hlink" id="t1" >Creating a new user.</p>
    <p class ="htext" id="t1a" ></p>

    <p class ="hlink" id="t2" >View/Edit/Remove existing users.</p>
    <p class ="htext" id="t2a" ><p>

    <p class ="hlink" id="t3" >Running a report.</p>
    <p class ="htext" id="t3a" ></p>

    <p class ="hlink" id="t4" >Updating the Admin Profile.</p>
    <p class ="htext" id="t4a" ></p>

    <p class ="hlink" id="t5" >Changing your Admin password</p>
    <p class ="htext" id="t5a" ></p>

    <p class ="hlink" id="t6" >Resetting a forgotten password</p>
    <p class ="htext" id="t6a" ></p>

</div>
<script type="text/javascript" src="js/adminHelp.js"></script>
</body>
</html>
