<link rel="stylesheet" href="css/createForm.css" type="text/css">
<h1 class="title">Create a User</h1>
<div id="createUserForm" class="createForm">
	<form id="cUser" method="post">
		<fieldset>
			<p class="fields"><input id="email" name="email" type="email" placeholder="Email" autocomplete="on" required></p>
			<p class="fields"><input id="password" name="password" type="password" placeholder="Password" required></p>
			<p class="fields"><input id="name" name="name" type="text" placeholder="Full Name" autocomplete="on" required></p>
			<p class="fields">
				<select name="department" id="department">
					<option value="">Department</option>
				</select>
			</p>
			<p class="fields">
				<select name="region" id="region">
					<option value="">Region</option>
				</select>
			</p>
			<p class="fields">
				<select name="userType" id="userType" required>
					<option value="">User Type</option>
					<option value="0">User</option>
					<option value="1">Admin</option>
				</select>
			</p>
			<p class="button"><input class="submit" id="createUser" type="submit" value="Create User"></p>
		</fieldset>
	</form>
</div>
<script type="text/javascript" src="js/adminCreateUserForm.js"></script>
