<link rel="stylesheet" href="css/adminHome.css" type="text/css">
<h1 class="title">Welcome to the Admin!</h1>
<div class="cardContainer">
	<div class="card">
		<div class="cardInner">
			<div class="cardFront">
<?xml version="1.0" encoding="iso-8859-1"?>
<!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
<g>
<path style="fill:#002833;" d="M250.96,512L147.2,287.12c0,0-108.8,1.44-108.8,101.52s0,123.36,0,123.36S251.68,512,250.96,512z"/>
<path style="fill:#002833;" d="M261.04,512L364.8,287.12c0,0,108.8,1.44,108.8,101.52s0,123.28,0,123.28S260.32,512,261.04,512z"/>
</g>
<g>
<polygon style="fill:#FF5F5F;" points="256,287.12 181.28,287.12 256,452.48 330.72,287.12 	"/>
<circle style="fill:#FF5F5F;" cx="255.36" cy="126.24" r="38.48"/>
</g>
<path style="fill:#8AD5DD;" d="M381.68,145.2v-37.84l-38.56-3.84c-2.24-8.08-5.6-15.76-9.92-22.72l24.88-30.4l-26.8-26.8
	l-31.6,25.84c-6.64-3.44-13.68-6.16-21.2-7.84L274.32,0h-18.96h-0.16h-18.96l-4.16,41.6c-7.44,1.68-14.56,4.4-21.2,7.84l-31.6-25.84
	l-26.64,26.8l24.88,30.4c-4.32,6.96-7.68,14.56-9.92,22.72l-38.56,3.84v37.84l38.64,3.84c2.24,8.08,5.52,15.68,9.84,22.72
	l-24.88,30.4l26.8,26.8l31.6-25.84c6.64,3.44,13.68,6.16,21.2,7.84l4.16,41.6h18.96h0.16h18.96l4.16-41.6
	c7.44-1.68,14.56-4.32,21.2-7.84l31.6,25.84l26.8-26.8l-24.88-30.4c4.32-6.96,7.6-14.56,9.84-22.72L381.68,145.2z M255.36,183.2
	c-31.44,0-56.96-25.52-56.96-56.96s25.52-56.96,56.96-56.96s56.96,25.52,56.96,56.96S286.8,183.2,255.36,183.2z"/>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>
				<h2 class="cardTitle">User Management</h2>
			</div>
			<div class="cardBack">
				<div class="options">
					<p><a href="/admin-usermanagement" class="homeButton">View/Edit/Remove Users</a></p>
					<p><a href="/add-user" class="homeButton">Create User</a></p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="cardContainer">
	<div class="card">
		<div class="cardInner">
			<div class="cardFront">
<?xml version="1.0" ?><svg enable-background="new 0 0 500 500" id="Layer_1" version="1.1" viewBox="0 0 500 500" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><circle cx="250.976" cy="253.523" fill="#4384EC" r="216.569"/><path d="M304.343,43.587l-53.367,209.936l214.161,32.36c1.582-10.557,2.408-21.362,2.408-32.36   C467.546,152.333,398.143,67.359,304.343,43.587z" fill="#3FC18D"/><path d="M467.546,253.523c0-42.602-12.303-82.328-33.548-115.824L250.976,253.523l214.161,32.36   C466.719,275.326,467.546,264.521,467.546,253.523z" fill="#FECC5D"/><path d="M250.976,253.523L128.235,431.958c34.888,24.044,77.166,38.134,122.742,38.134   c108.61,0,198.54-79.952,214.161-184.209L250.976,253.523z" fill="#2666CE"/></g></svg>
				<h2 class="cardTitle">Reports</h2>
			</div>
			<div class="cardBack">
				<div class="options">
					<p><a href="/admin-reports" class="homeButton">Create Reports</a></p>
				</div>
			</div>
		</div>
	</div>
</div>
