<div class="signInForm">
	<form>
		<fieldset>
			<h2>Login</h2>
			<p><input id="user" name="userName" type="email" placeholder="Username" autocomplete="on" required></p>
			<p><input id="password" name="password" type="password" placeholder="Password" required></p>
			<p><a id="forgotPass" href="/reset-password">Forgot Password?</a></p>			
			<p><input class="submit" id="login" type="submit" value="Login"></p>
		</fieldset>
	</form>
</div>
