<div class="body-container">
	<h3 style="text-align:center;">Please enter in your username.  If the username is registered, a password reset email will be sent.  If you do not receive an email, please contact your system administrator.</h3>
	<div class="signInForm">
		<form>
			<fieldset>
				<p>Username: <input id="username" type="email" placeholder="email@email.com" autocomplete="on" required></p>
				<p><input id="reset" type="submit" value="Reset Password"></p>
			</fieldset>
		</form>
	</div>
</div>
