<h3 style="text-align:center;">Please enter in your username.  If the username is registered, a password reset email will be sent.  If you do not receive an email, please contact your system administrator.</h3>
<div class="signInForm">
	<form id="resetForm" method="post">
		<fieldset>
			<p><input id="username" type="email" placeholder="Username" autocomplete="on" required></p>
			<p><input class="submit" id="reset" type="submit" value="Reset Password"></p>
		</fieldset>
	</form>
</div>
<script type="text/javascript" src="js/resetForm.js"></script>
