<link rel="stylesheet" href="css/createForm.css" type="text/css">
<div id="resetPasswordForm" class="createForm">
	<form>
		<fieldset>
			<h2 class="title">Change Password</h2>
			<p class="fields"><input id="password" name="password" type="password" placeholder="Password" required></p>
			<p class="fields"><input id="password" name="password" type="password" placeholder="Confirm Password" required></p>		
			<p class="button"><input class="submit" id="changePass" type="submit" value="Change Password"></p>
		</fieldset>
	</form>
</div>
