<link rel="stylesheet" href="css/createForm.css" type="text/css">
<link rel="stylesheet" href="css/table.css" type="text/css">
<h1 class="title">Create an Employee Award</h1>
<div class="createForm">
	<form id="addAward">
		<fieldset>
			<p style="text-align:center;">Complete this form to create an Employee award.</p>
			<p class="fields"><input id="name" name="recipient_name" type="text" placeholder="Recipient Name" autocomplete="on" required></p>
			<p class="fields"><input id="email" name="recipient_email" type="email" placeholder="Recipient Email" autocomplete="on" required></p>
			<p class="fields">
				<select name="department" id="department" required>
					<option value="">Department</option>
				</select>
			</p>
			<p class="fields">
				<select name="region" id="region" required>
					<option value="">Region</option>
				</select>
			</p>
			<p class="fields">
				<select name="awardtype" id="award-type" required>
					<option value="">Award Type</option>
				</select>
			</p>
			<p class="fields">Award Date: <input type="date" name="date" id="award-date" required></p>
			<p class="button"><input class="submit" id="createAward" type="submit" value="Create Award"></p>
		</fieldset>
	</form>
</div>
<script type="text/javascript" src="/js/createAward.js"></script>
