<link rel="stylesheet" type="text/css" href="css/userHelp.css">
<div id = "helpbody">
	<h1 class="title" id="helpheader" >User Help/FAQ</h1>
	<input id ="searchQuery" type="text" placeholder="Search by Key Word">
	<button id="searchButton" >Search</button>
	<button id="reset" >Clear</button>
	<div id="questions">
		<p class ="hlink" id="t1" >Creating/emailing an award.</p>
		<p class ="htext" id="t1a" ></p>
		<p class ="hlink" id="t2" >Creating/editing a signature.</p>
		<p class ="htext" id="t2a" ><p>
		<p class ="hlink" id="t3" >Changing a password.</p>
		<p class ="htext" id="t3a" ></p>
		<p class ="hlink" id="t4" >Updating User Account Settings.</p>
		<p class ="htext" id="t4a" ></p>
		<p class ="hlink" id="t5" >How to view my previously issued awards</p>
		<p class ="htext" id="t5a" ></p>
		<p class ="hlink" id="t6" >Resetting a forgotten Password</p>
		<p class ="htext" id="t6a" ></p>
	</div>
</div>
<script type="text/javascript" src="js/userHelp.js"></script>
