<link rel="stylesheet" href="css/createForm.css" type="text/css">
<div id="resetPasswordForm" class="createForm">
	<form id="password" method="post">
		<fieldset>
			<h2 class="title">Change Password</h2>
			<p class="fields"><input id="newPassword" name="password" type="password" placeholder="Password" required></p>
			<p class="fields"><input id="confirmPassword" name="password" type="password" placeholder="Confirm Password" required></p>		
			<p class="button"><input class="submit" id="changePass" type="submit" value="Change Password"></p>
		</fieldset>
	</form>
</div>
<script type="text/javascript" src="js/changePassword.js"></script>

