.createForm {
    margin: 0 auto;
    width: 100%;
    box-shadow: 0 14px 28px grey;
    border-radius: 5px;
}

#lightBox-Inner {
    position: relative;
    background-color: #fff;
    width: 50%;
    top: 50%;
    margin: 0 auto;
    padding: 0;
    box-shadow: 2px 5px 8px 0px black;
    border-radius: 1px;
}
