html {
	height: 100%;
}

body {
	margin: 0;
}

/* Left Navigation with fly outs */
.leftNav {
	position: fixed;
	left: 0;
	height: 100%;
	width: 50px;
	text-align: center;
	background-color: #2e2e2e;
}

.leftNav a{
	color: #999999;
	font-size: 1.5em;
	text-decoration: none;
	padding: 10px;
}

.leftNav a:hover {
	color: #fff;
	background-color: #415266;
}

.leftNav ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.leftNav ul li:hover {
	position: relative;
}

.leftNav ul li a, .leftNav ul li ul li a{
	display: inline-block;
}

.leftNav .subLeftNav {
	position: absolute;
	display: none;
	background-color: #20262e;
	width: 200px;
	box-shadow: 2px 5px 8px 0px grey;
}

.leftNav .subLeftNav .navPrime {
	background-color: #03A9F4;
}

.leftNav .subLeftNav li:hover {
	background-color: #415266;
}

.leftNav .subLeftNav .navPrime a {
	color: #fff;
}

.leftNav .subLeftNav a {
	padding: 10px;
}

.leftNav ul li:hover ul {
	top: 0px;
	left: 50px;
	display: block;
}

/* Top Navigation */
#topNav {
	width: 100%;
	background-color: #2e2e2e;
}

/* Clear the container */
#topNav::after {
	content: "";
	display: table;
	clear: both;
}

#logo {
	display: block;
	float: left;
	margin-left: 50px;
}

#logo a {
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
}

/* Remove list styling */
#menu ul {
	float: none;
	text-align: center;
	padding: 0;
	margin: 0;
	list-style: none;
	position: relative;
}

/* Display nav items inline */
#menu ul li {
	margin: 0;
	display: inline-block;
}

/* Hide subNav */
#menu ul ul.subNav {
	display: none;
	position: absolute;
	top: 59px;
	right: 0;
	left: auto;
	background-color: #20262e;
	box-shadow: 2px 5px 8px 0px grey;
}

#menu ul li:hover > .subNav {
	display: block;
}

#menu a {
	display: block;
	text-decoration: none;
	font-size: 1.5em;
	padding: 21px 10px;
}

#menu ul ul.subNav li {
	display: list-item;
	float: none;
	position: relative;
}

#menu ul li#user a {
	padding: 15px;
	color: #999999;
	font-size: 1.5em;
}

#menu ul li#user a:hover {
	color: #fff;
}

#menu ul li#user .subNav li a {
	padding: 10px;
}

#menu ul li#user .subNav li a:hover {
	color: #fff;
	background-color: #415266;
}

#menu ul li#user {
	float: right;
	margin-right: 25px;
	margin-top: 2px; 
}

.bodyMain {
	margin-left: 50px;
}

.body-container {
	width: 90%;
	margin: 0 auto;
}

.title {
	text-align: center;
}

#message {
	color: red;
}