.signInForm {
	width: 300px;
	text-align: center;
	margin: 0 auto;
}

html {
	height: 100%;
}

body {
	height: 95%;
	margin: 0;
}

header h1 {
	text-align: center;
}

header {
	height: 15%;
}

.body-container {
	height: 80%;
	margin: 0 10%;
}

