html {
	height: 100%;
}

body {
	height: 95%;
	margin: 0;
}
.body-container {
	height: 80%;
	margin: 0 10%;
}

.title {
	text-align: center;
}

.signInForm {
	width: 300px;
	text-align: center;
	margin: 0 auto;
	box-shadow: 0 14px 28px gray;
	border-radius: 5px;
}

.signInForm form fieldset {
	border: none;
}

.signInForm input {
	background-color: #eee;
	border: none;
	padding: 5px;
}

.signInForm .submit {
	padding: 10px;
	font-size: 1em;
	text-decoration: none;
	border-radius: 5px;
	background-color: #03A9F4;
	color: #fff;
	cursor: pointer;
}

.signInForm .submit:hover {
	background-color: #20262e;
}

.signInForm #forgotPass {
	text-decoration: none;
	color: #999999;
	font-size: 1em;
}

.signInForm #forgotPass:hover {
	color: #20262e;
}

.formResponse {
	padding: 20px;
	background-color: #93f7f2;
}
