.sigSection {
	text-align: center;
}

#sigChange {
	width: 80%;
	margin: 0 auto;
	display: none;
}

#sigPadDiv {
    padding: 0;
    margin: auto;
    display: block;
    width: 500px;
}

#uploadSigDiv {
    padding: 0;
    margin: auto;
    display: block;
    width: 500px;
}

#uploadSig {
    float: left;
}

.submitButtons {
   float: right;
}

.sigsubmitresponse {
   float: right;
}
