<!DOCTYPE html>
<html>
	<head>
		{{{_sections.head}}}
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{title}}</title>
		<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="css/userMain.css" type="text/css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	</head>
	<body>
		<div id="topNav">
			<div id="logo">
				<p><a href="/home">Employee Recognition Portal</a></p>
			</div>
			<nav id="menu">
				<ul>
					<li><a href="/award">Create Awards</a></li>
					<li><a href="/history">History</a></li>
					<li><a href="/userhelp">Help</a></li>
      					<li id="user"><a href="#"><i class="fas fa-user-circle"></i></a>
						<ul class="subNav">
							<li><a href="/account">Account</a></li>
							<li><a href="/api/logout">Logout</a></li>
						</ul>
					</li>
				</ul>
			</nav>
		</div>
		<div class="body-container">
			{{{body}}}
		</div>
	</body>
</html>

